<% if @cardset.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <strong><%= pluralize(@cardset.errors.count, t('error')) %> <%= t('cardset_errortext') %></strong>
  <ul>
  <% @cardset.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.text_field :title, :class => "form-control floating-label", :placeholder => :title %>
</div>

<div class="form-group">
  <% if params[:action] != 'new' %>
  <%= f.submit t('action_update'), :class => "btn btn-success btn-raised" %>
  <% else %>
  <%= f.submit t('action_add'), :class => "btn btn-success btn-raised" %>
  <% end %>
</div>
