<%= link_to new_cardset_path, :class => "btn btn-fab btn-raised btn-material-red btn-navbar" do %>
  <i class="mdi-content-add text-white"></i>
<% end %>

<div class="row row-animated">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="list-title"><%= :Cardsets %></h2>
    <hr>
    <% if Category.all.size == 0 %>
    <div class="alert alert-warning">
        <h4><%= t('title_nocategories') %></h4>
        <p><%= t('text_nocategories') %> <strong><%= link_to t('link_nocategories'), new_category_path %></strong></p>
    </div>
    <% end %>
    <% if Cardset.all.size != 0 %>
    <div class="panel">
      <div class="panel-body panel-list">
        <% Cardset.all.each do |cardset| %>
        <div class="row">
          <div class="hidden-xs col-sm-1">
            <i class="mdi-action-question-answer icon-md"></i>
          </div>
          <div class="col-xs-8 col-sm-6">
            <div class="ellipsis width-sm">
              <strong><%= link_to strip_tags(cardset.title), cardset_path(cardset), :class => "link-black" %></strong>
            </div>
          </div>
          <div class="hidden-xs col-sm-2">
            <small><%= pluralize(cardset.cards.size, t('card')) %></small>
          </div>
          <div class="col-xs-4 col-sm-2">
            <div class="pull-right">
              <%= link_to edit_cardset_path(cardset), :class => "link-icon" do %>
                <i class="mdi-content-create"></i>
              <% end %>
              <%= link_to cardset_path(cardset), method: :delete,
                          data: { confirm: t('text_confirmdelete') }, :class => "link-icon" do %>
                <i class="mdi-action-delete"></i>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="alert alert-warning">
      <h4><%= t('title_nocardsets') %></h4>
      <p><%= t('text_nocardsets') %> <strong><%= link_to t('link_nocardsets'), new_cardset_path %></strong></p>
    </div>
    <% end %>
  </div>
</div>
