<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <% if Category.all.size == 0 %>
    <div class="alert alert-warning">
        <h4><%= t('title_nocategories') %></h4>
        <p><%= t('text_nocategories') %> <strong><%= link_to t('link_nocategories'), new_category_path %></strong></p>
    </div>
    <% end %>
    <div class="panel panel-padding panel-default">
      <div class="panel-body">
        <%= form_for @cardset, url: cardsets_path do |f| %>
          <%= render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
