<%= link_to new_cardset_card_path(@cardset), :class => "btn btn-fab btn-raised btn-material-red btn-navbar" do %>
  <i class="mdi-content-add text-white"></i>
<% end %>

<div class="row row-animated">
  <div class="col-md-8 col-md-offset-2">
        <h2 class="list-title">
          <%= link_to cardsets_path, :class => "link-icon icon-xl" do %>
            <i class="mdi-navigation-arrow-back"></i>
          <% end %>
          <%= @cardset.title %> <small><%= pluralize(@cardset.cards.size, t('card')) %></small>
        </h2>
        <hr>
    <% if Category.all.size != 0 %>
      <% if @cardset.cards.size != 0 %>
      <% Category.all.order("id asc").each do |category| %>
        <% if @cardset.cards.where(:category_id => category.id).any? %>
        <h4 class="list-title">
          <span class="pull-right">
            <%= link_to cardset_presentation_path(@cardset), :class => "link-icon" do %>
              <i class="mdi-action-view-carousel" data-toggle="tooltip" data-placement="top" title="<%= t('action_presentation') %>"></i>
            <% end %>
            <%= link_to toggle_visible_cardset_category_path(:id => category, :cardset_id => @cardset), :remote => true, :class => "link-icon", :data => {:toggle => "visibility", :category_id => category.id} do %>
              <i class="mdi-action-visibility" data-toggle="tooltip" data-placement="bottom" title="<%= t('action_visible_all') %>"></i>
            <% end %>
          </span>
          <%= category.title %> <small><%= pluralize(@cardset.cards.where(:category_id => category.id).size, t('card')) %></small>
        </h4>
        <div class="panel">
          <div class="panel-body panel-list">
            <% ellipsis = false %>
            <% @cardset.cards.where(:category_id => category.id).order("id asc").each_with_index do |card, n| %>
            <% if ((n > 2) && (n != (@cardset.cards.where(:category_id => category.id).size - 1))) %>
              <% if !ellipsis %>
                <% ellipsis = true %>
                <div class="row text-center" data-category="<%= category.id %>" onClick="$(this).slideUp(200, function(){$(this).siblings('.row-collapsed').slideToggle();});" style="cursor: pointer;" data-toggle="tooltip" title="<%= t('text_showmorequestions', number: (@cardset.cards.where(:category_id => category.id).size - 4))%>">
                  <a href="javascript:void(0);" class="link-icon" style="line-height: 100%;"><i class="mdi-navigation-more-vert"></i></a>
                </div>
              <% end %>
            <div class="row row-collapsed" data-category="<%= category.id %>" >
            <% else %>
            <div class="row" data-category="<%= category.id %>" >
            <% end %>
              <div class="hidden-xs col-sm-1">
                <i class="mdi-communication-messenger icon-md"></i>
              </div>
              <div class="col-xs-9 col-sm-9">
                <div class="ellipsis width-md">
                  <strong><%= link_to strip_tags(card.question), edit_cardset_card_path(:id => card, :cardset_id => @cardset), :class => "link-black" %></strong>
                </div>
              </div>
              <div class="col-xs-2 actions">
                <div class="pull-right">
                  <%= link_to edit_cardset_card_path(:id => card, :cardset_id => @cardset), :class => "link-icon", :data => {:toggle => "tooltip", :placement => "bottom"}, :title => t('action_edit') do %>
                    <i class="mdi-content-create"></i>
                  <% end %>
                  <%= link_to cardset_card_path(:id => card, :cardset_id => @cardset), method: :delete,
                              data: { confirm: t('text_confirmdelete_single'), :toggle => "tooltip", :placement => "bottom" }, :class => "link-icon", :title => t('action_delete') do %>
                    <i class="mdi-action-delete"></i>
                  <% end %>
                  <%= link_to toggle_visible_cardset_card_path(:id => card, :cardset_id => @cardset), :remote => true, :class => "link-icon", :data => {:toggle => "visibility", :card_id => card.id} do %>
                    <i class="<%= card.visible ? 'mdi-action-visibility' : 'mdi-action-visibility-off' %>" data-toggle="tooltip" data-placement="bottom" title="<%= t('action_toggle_visibility') %>"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
      <% else %>
      <div class="alert alert-warning">
        <h4><%= t('title_nocards') %></h4>
        <p><%= t('text_nocards') %> <strong><%= link_to t('link_nocards'), new_cardset_card_path(@cardset) %></strong></p>
      </div>
      <% end %>
    <% else %>
    <div class="alert alert-warning">
        <h4><%= t('title_nocategories') %></h4>
        <p><%= t('text_nocategories') %> <strong><%= link_to t('link_nocategories'), new_category_path %></strong></p>
    </div>
    <% end %>
  </div>
</div>
