<%= link_to new_cardset_card_path(@cardset), :class => "btn btn-fab btn-raised btn-material-blue btn-navbar" do %>
  <i class="mdi-content-add text-white"></i>
<% end %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
  <% if Category.all.size != 0 %>
    <% if @cardset.cards.size != 0 %>
    <div class="row">
      <% Category.all.each do |category| %>
        <% if @cardset.cards.where(:category_id => category.id).any? %>
        <div class="col-lg-6">
          <div class="well well-xl text-white well-material-<%= category.color %>">
            <ul class="nav nav-tabs panel-actions">
              <li data-toggle="tooltip" data-placement="bottom" title="<%= t('action_edit') %>">
                <%= link_to '' do %>
                <i class="mdi-content-create"></i>
                <% end %>
              </li>
              <li data-toggle="tooltip" data-placement="bottom" title="<%= t('action_show') %>">
                <%= link_to '' do %>
                <i class="mdi-action-view-carousel"></i>
                <% end %>
              </li>
            </ul>
            <div class="panel-body text-center">
              <div>
                <h4><%= category.title %></h4>
                <small><em><%= @cardset.cards.where(:category_id => category.id).size %> <%= :cards %></em></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <% else %>
    <div class="alert alert-warning">
      <h4><%= t('title_nocards') %></h4>
      <p><%= t('text_nocards') %> <strong><%= link_to t('link_nocards'), new_cardset_card_path(@cardset) %></strong></p>
    </div>
    <% end %>
  <% else %>
  <div class="alert alert-warning">
      <h4><%= t('title_nocategories') %></h4>
      <p><%= t('text_nocategories') %> <strong><%= link_to t('link_nocategories'), new_category_path %></strong></p>
  </div>
  <% end %>
  </div>
</div>
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
