<div class="row">
  <div class="col-xs-1">
    <%= link_to cardset_path(@cardset), :class => "link-icon icon-xxl text-white", :data => { :toggle => "tooltip", :placement => "bottom" }, :title => t('action_back') do %>
      <i class="mdi-navigation-arrow-back"></i>
    <% end %>
  </div>
  <div class="col-xs-11">
    <span class="pull-right">
      <div class="panel padding-sm">
        <div class="panel-body">
          <%= select_tag(:category_id, options_for_select(@categories.collect {|cat| [ cat.title, cat.id ] }, @category.id), { :class => "select form-control floating-label", :id => "category_select", :placeholder => :Category } ) %>
        </div>
      </div>
    </span>
  </div>
</div>
<hr class="hr-hidden">
<div class="row row-animated">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="well padding-xl">
      <div class="panel-body text-center">
        <div>
          <h4>
            <strong>
              <div id="text-question"></div>
              <div id="text-completed"><%= t('text_presentation_finished') %></div>
            </strong>
          </h4>
          <hr>
          <h5>
            <div id="text-answer"></div>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="hr-hidden">
<div class="row">
  <div class="col-xs-12 text-center">
    <a href="javascript:void(0);" id="btn-previous" class="btn btn-flat text-white"><%= t('action_previous') %></a>
    <a href="javascript:void(0);" id="btn-answer" class="btn btn-flat text-white"><%= t('action_answer') %></a>
    <a href="javascript:void(0);" id="btn-next" class="btn btn-flat text-white"><%= t('action_next') %></a>
  </div>
</div>

<input type="hidden" id="cardset_id" value="<%= @cardset.id %>">
<input type="hidden" id="category_id" value="<%= @category.id %>">
