<div class="overlay well-material-blue" style="z-index: 3;">
  <div class="row vertical-align">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="well">
        <div class="panel-body text-center">
          <h4><%= t('text_loading_cards') %></h4>
          <hr class="hr-hidden">
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" id="progress-loading" style="width: 1%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay overlay-card well-material-grey" style="z-index: 2;">
  <div class="row vertical-align">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="well">
        <div class="panel-body text-center">
          <h5 data-bind="html: card().question" id="text-question"></h5>
          <hr>
          <h6 data-bind="html: card().answer" id="text-answer"></h6>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:void(0);" class="btn btn-flat text-white" id="btn-answer" data-bind="click: showAnswer"><%= t('action_answer') %></a>
        <a href="javascript:void(0);" class="btn btn-flat text-white" id="btn-back"><%= t('action_back') %></a>
      </div>
    </div>
  </div>
</div>

<main class="transition">
  <div class="padding-lg">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2 class="list-title">
          <%= link_to cardset_path(@cardset), :class => "link-icon icon-xl", :data => {:toggle => 'tooltip', :placement => 'top' }, :title => t('action_back') do %>
            <i class="mdi-navigation-arrow-back"></i>
          <% end %>
        </h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row" data-bind="foreach: categories">
          <div class="col-xs-4 clearfix">
            <div class="well text-white cursor-pointer withripple" data-bind="css: color, click: $parent.showCard">
              <div class="panel-body text-center">
                <h4 data-bind="text: title"></h4>
                <small><span data-bind="text: (cards().length - current())">0</span> cards remaining</small>
                <hr class="hr-hidden">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<input type="hidden" id="cardset_id" value="<%= @cardset.id %>">
