<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <strong><%= pluralize(@category.errors.count, t('error')) %> <%= t('category_errortext') %></strong>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, :class => "form-control floating-label", :placeholder => :title, :required => "true" %>
  </div>

  <div class="form-group">
    <small><%= :Color %></small>
    <div>
      <% Category.colors.each do |c| %>
        <div class="color-box withripple well-material-<%= c %>" data-toggle="tooltip" title="<%= c.capitalize %>">
          <%= f.radio_button :color, c %>
          <div class="radio-label radio-label-inactive mdi-action-done"></div>
        </div>
      <% end %>
    </div>
  </div>
  <% if params[:action] != 'new' %>
  <%= f.submit t('action_update'), :class => "btn" %>
  <% else %>
  <%= f.submit t('action_add'), :class => "btn" %>
  <% end %>
<% end %>
