<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <% if @categories.size != 0 %>
    <div class="panel panel-padding panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <th><%= t('title_title') %></th>
            <th><%= t('title_actions') %></th>
          </thead>
          <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td class="td-fill"><%= category.title %></td>
              <td>
                <%= link_to t('action_edit'), edit_category_path(category) %>
                <%= link_to t('action_delete'), category_path(category),
                      method: :delete,
                      data: { confirm: t('text_confirmdelete') } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to t('category_action_add'), new_category_path, :class => "btn btn-primary" %>
      </div>
    </div>
    <% else %>
    <div class="alert alert-warning">
        <h4><%= t('title_nocategories') %></h4>
        <p><%= t('text_nocategories') %> <strong><%= link_to t('link_nocategories'), new_category_path %></strong></p>
    </div>
    <% end %>
  </div>
</div>
