<%= link_to new_category_path, :class => "btn btn-fab btn-raised btn-material-blue btn-navbar" do %>
  <i class="mdi-content-add text-white"></i>
<% end %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
  <% if Category.all.size != 0 %>
  <div class="row">
    <% Category.all.each do |category| %>
      <div class="col-lg-6">
        <div class="well text-white well-material-<%= category.color %>">
          <div class="panel-body text-center">
            <h4><%= category.title %></h4>
            <%= link_to t('action_edit'), edit_category_path(category), :class => "btn btn-flat btn-xs text-white" %>
            <%= link_to t('action_delete'), category_path(category),
                  method: :delete,
                  data: { confirm: t('text_confirmdelete') } , :class => "btn btn-flat btn-xs text-white" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
  <div class="alert alert-warning">
      <h4><%= t('title_nocategories') %></h4>
      <p><%= t('text_nocategories') %> <strong><%= link_to t('link_nocategories'), new_category_path %></strong></p>
  </div>
  <% end %>
  </div>
</div>
