<!DOCTYPE html>
<html>
<head>
  <title>Trivial</title>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-material-blue">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/cardsets">Trivial</a>
  </div>
  <div class="navbar-collapse collapse navbar-warning-collapse">
    <ul class="nav navbar-nav">
      <%= nav_link t('title_cardsets'), cardsets_path %>
      <%= nav_link t('title_categories'), categories_path %>
    </ul>
  </div>
</nav>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>

</body>
</html>
