<!DOCTYPE html>
<html>
<head>
  <title>Trivial</title>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-material-blue">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Trivial", root_path, class: "navbar-brand" %>
  </div>
  <div class="navbar-collapse collapse navbar-warning-collapse">
    <ul class="nav navbar-nav">
      <%= nav_link t('title_play'), presentations_path %>
      <% if user_signed_in? %>
        <%= nav_link t('title_cardsets'), cardsets_path %>
        <%= nav_link t('title_categories'), categories_path %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('action_signin'), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>

</body>
</html>
